<!DOCTYPE html>

<html>

<head>
    <link  type="text/css" rel="stylesheet" href="/css/style.css">
    <link rel= "icon" href = "/images/weather.png"
    <script src="/js/app.js"></script>
    <title>About</title>
</head>

<body>
    <div class = "main-content"> 
        {{>header}}
        <p>This site is created by Gurparkar Singh. This site uses data from mapbox.com and darksky.net</p>
    <img src="images/robot2.png" class = "portrait" width = 250px;>
    </div>
    
    {{>footer}}
</body>

</html>